body {

		z-index: 11;
		  margin: 0;
		  overflow: hidden;
		  background-color: black;
		}
		.courgette-regular{
		font-family: "Courgette", cursive;
		font-weight: 400;
		font-style: normal;
       }

	   /* .message{
			font-size: 3.25vh;
			color:rgb(0, 0, 0);
			position: absolute;
			top: 15%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
			white-space: pre-wrap;
	   }
	   @media (max-width: 600px) {
		 .message{
			font-size: 4vw;
	   }
		}*/
	   .hint{
			font-size: 1.8vh;
			color: rgb(0, 0, 0);
			position: absolute;
			top: 85%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 20;
			font-weight: 400;
		} 
.message{
	font-size: clamp(14px, 2.5vh, 24px);
	color: rgb(0, 0, 0);
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 10;
	white-space: pre-wrap;
	width: 85%;
	max-width: 450px;


	box-sizing: border-box;
	line-height: 1.6;
}

@media (max-width: 600px) {
	.message{
		font-size: clamp(12px, 3.5vw, 18px);
		top: 10%;
		width: 80%;
		padding: 10px;
		line-height: 1.5;
	}
}

@media (min-height: 700px) {
	.message{
		top: 8%;
	}
}

		.scene {
		  width: 100%;
		  height: 100%;
		  position: fixed;
		  top: 0;
		  left: 0;
      display: none;
		}
		
		.credits {
		  position: fixed;
		  bottom: 10px;
		  right: 10px;
		  max-width: 250px;
		  z-index: 10;
		  text-align: right;
		}
		
		a {
		  display: block;
		  padding: 2px 0;
		  color: #1d1f3f;
		  text-decoration: none;
		  font-family: Helvetica, Verdana, sans-serif;
		  font-size: 15px;
		}
		
		a:hover {
		  text-decoration: underline;
		}
		
		.gift.hidden {
		  display: none;
		}
		
		.gift {
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  background: black;
		  cursor: pointer;
		}
		
		.gift svg {
		  width: 100%;
		  height: 100%;
		}