* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#viewer {
  width: 100vw;
  height: 100vh;
  border: none;
  /* transform: scale(1);
  transition: transform 0.8s ease; */
}


/* 
 #viewer {
  transform: scale(0.92);
} */

#click-layer {
  position: fixed;
  inset: 0;
  z-index: 20;
  cursor: pointer;
}

p{
  font-size: 1.8vh;
color: white;
font-weight: 400;
     position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

     /* White Splash Transition */
        #white-splash {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            background: white;
            z-index: 100;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translate(-50%, -50%);
        }

        #white-splash.active {
            visibility: visible;
            animation: splash 1.5s ease-in-out;
        }

        @keyframes splash {
            0% {
                opacity: 0;
                width: 0;
                height: 0;
                border-radius: 50%;
            }
            30% {
                opacity: 1;
                width: 200vw;
                height: 200vw;
                border-radius: 50%;
            }
            60% {
                opacity: 1;
                width: 300vw;
                height: 300vw;
                border-radius: 0%;
            }
            100% {
                opacity: 0;
                width: 400vw;
                height: 400vw;
                border-radius: 0%;
            }
        }
